ion-header{
    --ion-text-color: #000000;
}

ion-content{
    --ion-background-color:#ffffff;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    color:#000000;
}

h2 {
    font-size: large;
    font-weight: bold;
    color:#000000;
}

h3 {
    font-size: medium;
    color:#000000;
}

:root {
	--ion-color-favorite: #45a259;
}