body {
    background-color:rgb(139, 223, 251);
}

ion-card {
    background-color: rgb(9, 187, 246);
}

#logo {
    height: 200px;
    width: 200px;
    margin-top: 20%;
    margin-left: 25%;
}

#username {
    margin-top: 15%;
}

#password {
    margin-top: 3%;
}

#bnLogIn {
    margin-top: 3%;
}