<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button text="Previous" icon="caret-back"></ion-back-button> -->
      <ion-button id="bnback" (click)="back()">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title class="center">Confirmation</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="center">
          Restaurant: {{restaurant}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Please rate this restaurant from 1-5:
        <form [formGroup]="restaurant_form" (ngSubmit)="submit()">
          <ion-input placeholder="Enter 1-5" formControlName="rate"></ion-input>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="center">
          Food: {{food1}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Please rate this dish from 1-5:
        <form [formGroup]="food_form1" (ngSubmit)="submit()">
          <ion-input placeholder="Enter 1-5" formControlName="rate"></ion-input>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="center">
          Food: {{food2}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Please rate this dish from 1-5:
        <form [formGroup]="food_form2" (ngSubmit)="submit()">
          <ion-input placeholder="Enter 1-5" formControlName="rate"></ion-input>
        </form>
      </ion-card-content>
    </ion-card>
 

<ion-button class="center_button"  id="bnconfirm" (click)="confirm()">
  Confirm
</ion-button>

</ion-content>
