<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <div>
      <ion-avatar>
        <img alt="own picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>

      <div id="vertical_line"></div>
      
      <ion-header id="name">Name</ion-header>
    </div>

    <div>
      <ion-button expand="block" id="profile">Profile （rename???)</ion-button>
      <ion-button expand="block" id="logout">Logout</ion-button>
      <ion-button expand="block" id="help">Help</ion-button>
    </div>
    
    <div>
      <p>version 1.0.0</p>
    </div>
  </body>
  
  
</ion-content>
