<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <ion-card>
      <div>
        <div class="flex-container1" id="foodType1">
          <div>
            <ion-avatar>
              <img alt="own picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <div id="vertical_line"></div>
          </div>
          <div  id="name">
            <ion-header>{{email}}</ion-header>
          </div>
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div>
        <br><br><br>
        <ion-button expand="block" id="profile" (click)="openSurvey()">Survey</ion-button>
        <ion-button expand="block" id="logout" (click)="logOut()">Logout</ion-button>
        <ion-button expand="block" id="help">Help</ion-button>
        <br><br><br>
      </div>
    </ion-card>
    <div>
      <p>version 1.0.0</p>
    </div>
  </body>
  
  
</ion-content>
