<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <ion-card-header class="center">
      <ion-card-title>
        Recommendation
      </ion-card-title>
    </ion-card-header>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Lunch
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-recs></app-recs>

      </ion-card-content>
      <ion-button  class="center_button"  id="bnconfirm" (click)="confirm()">
        Confirm
      </ion-button>
    </ion-card>
    
  </div>
  

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Calories
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            Consumed: {{calories}}
          </ion-item>

          <ion-item>
            Goal:
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>

