<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button text="Previous" icon="caret-back"></ion-back-button> -->
      <ion-button id="bnback" (click)="back()">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>Recommendation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <!-- <ion-datetime [value]="dateTime" displayFormat="MMM DD, YYYY HH:mm" ></ion-datetime> -->
    <!-- <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="dateTime"></ion-datetime> -->

  <!-- https://ionicframework.com/docs/api/infinite-scroll -->
  <!-- back button needed? <ion-nav [root]="component"></ion-nav> -->
  <!-- survey use checkbox -->
  <!-- discuss about the lunch/dinner design? -->


    <!-- time drag down -->
    <ion-card>
      <ion-card-content>
      <br>
      <div>
        <!-- <label>Time:</label>
        <select>
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
            <option>Others</option>
        </select> -->
        <ion-list>
          <ion-item>
            <ion-select placeholder="Select Time">
              <ion-select-option>Breakfast</ion-select-option>
              <ion-select-option>Lunch</ion-select-option>
              <ion-select-option>Dinner</ion-select-option>
              <ion-select-option>Others</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
      <!-- restaurant drag down -->
      <!-- <div class="flex-container1" id="restaurant"> -->
      <form [formGroup]="restaurant_form" (ngSubmit)="submit1()">
        <div class="flex-container1" id="restaurant">
          <!-- <label>Restaurant:</label> -->
          <input list="restaurants" inputmode='text' formControlName="name" placeholder="Restaurant Name">
          <datalist id="restaurants">
            <ion-list *ngFor="let r of restaurants">
              <option value={{r}}></option>
            </ion-list>
          </datalist>
          <div id="submit1">
            <ion-button [disabled]="!restaurant_form.valid" (click)="load_food()" type="submit">save</ion-button>
          </div>
        </div>
      </form>
      <!-- </div> -->

      <!-- <div class="flex-container1" id="foodType1"> -->
      <form [formGroup]="food_form1" (ngSubmit)="submit2()">
        <div class="flex-container1" id="foodType1">
          <ion-list>
            <ion-item>
              <ion-select style="width: 155px" interface="popover" placeholder="Food 1" formControlName="name" (ngSubmit)="submit2()">
              <!-- <ion-select placeholder="Food 1"> -->
                <ion-select-option *ngFor="let f of foods">{{f}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <div id="submit1">
            <ion-button [disabled]='!food_form1.valid' (click)="save_food1()" type="submit">
              save
            </ion-button>
          </div>
        </div>
      </form>
        <!-- <div id="vegtag">
          <span class="veg">Vegetables</span>
        </div> -->

      <form [formGroup]="food_form2" (ngSubmit)="submit2()">
        <div class="flex-container2" id="foodType2">
        <ion-list>
          <ion-item>
            <ion-select style="width: 155px" interface="popover" placeholder="Food 2" formControlName="name">
              <ion-select-option *ngFor="let f of foods2">{{f}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div id="submit1">
          <ion-button [disabled]="!food_form2.valid" (click)="save_food2()" type="submit">save</ion-button>
        </div>
        </div>
      </form>
        <!-- <div id="fruittag">
          <span class="fruit">Fruit</span>
        </div> -->

    
      <br>
      </ion-card-content>
    </ion-card>

    <ion-card id="warning">
      <ion-card-content>
        <p>
          Calories: {{local_calories}} cal
        </p>
      </ion-card-content>
    </ion-card>
    
    <!-- piechart missing -->
    <!-- <ion-card id="warning">
      <ion-card-content>
        <div id="warning1">
          <p>
            PieChart Warning
          </p>
        </div>

        <p>
          Calories: {{local_calories}} cal
        </p>

        <div id="warning1">
          <p>
            Calories Warning
          </p>
        </div>
      </ion-card-content>
    </ion-card>
   -->

  <!-- <div id="warning1">
    <p>
      PieChart Warning
    </p>
  </div> -->

  <!-- <span class="label success">Success</span>
  <span class="label info">Info</span>
  <span class="label warning">Warning</span> -->

  
  <div>
    <!-- button unfinished -->
    <!-- <ion-button id="add">Add</ion-button> -->
    <ion-button id="save" (click)="submit()">Submit</ion-button>
  </div>
  </body>
  
</ion-content>
